.dark-mode {
  background-color: #000;
}
.dark-mode .header__img {
  background-image: url("/img/galaxy-small.jpg");
}
.dark-mode .header__background {
  height: 26rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.dark-mode .header .logo {
  height: 12rem;
  width: 100%;
}
.dark-mode .header .logo__clickable .text {
  display: block;
  position: absolute;
  font-family: "Yellowtail";
  font-size: 2.4rem;
  bottom: 2rem;
  left: 12rem;
  text-wrap: nowrap;
  text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  animation: neonGlow 3s ease-out forwards;
}
.dark-mode .header__text {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
}
.dark-mode .header__text h1 {
  font-size: 3.6rem;
  font-weight: 800;
  text-align: center;
}
.dark-mode .header .color-scheme-btn {
  position: absolute;
  top: 8rem;
  right: 0;
  width: 7rem;
  height: 7rem;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #43b7ff;
}
.dark-mode .header .color-scheme-btn__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}
.dark-mode .header .color-scheme-btn__pill {
  position: relative;
  width: 4rem;
  height: 1.6rem;
  background-color: #43b7ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.dark-mode .header .color-scheme-btn .color-scheme-btn__circle {
  position: absolute;
  left: 0;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px black;
  transition: left 0.3s;
  left: 2rem;
}
.dark-mode .header .burger-btn--active .burger-btn__bar1,
.dark-mode .header .burger-btn--active .burger-btn__bar2,
.dark-mode .header .burger-btn--active .burger-btn__bar3 {
  background-color: #fff;
}
.dark-mode .header .nav-mobile {
  background: linear-gradient(#222, #000);
}
.dark-mode .header .nav-mobile ul li a {
  color: #fff;
}
.dark-mode main {
  background-color: #000;
}
.dark-mode .about h2 {
  color: #fff;
}
.dark-mode .about .wrapper .graphic-group .dash {
  border-bottom: 1px dashed #43b7ff;
}
.dark-mode .about .wrapper p {
  color: #fff;
}
.dark-mode .about .wrapper p a {
  color: #43b7ff;
}
.dark-mode .about .wrapper .items .item h3 {
  color: #43b7ff;
}
.dark-mode .pricing .wrapper .piggybank-img {
  height: 30rem;
  margin-bottom: 2rem;
}
.dark-mode .pricing .wrapper h2 {
  color: #fff;
}
.dark-mode .pricing .wrapper h2 span {
  color: #43b7ff;
}
.dark-mode .pricing .wrapper p {
  color: #fff;
}
.dark-mode .pricing .wrapper .items .item__text h3 {
  color: #43b7ff;
}
.dark-mode .portfolio h2 {
  color: #fff;
}
.dark-mode .portfolio h2 span {
  color: #43b7ff;
}
.dark-mode .portfolio .wrapper .graphic-group .dash {
  border-bottom: 1px dashed #43b7ff;
}
.dark-mode .portfolio .wrapper .items .item {
  border: 1px solid #43b7ff;
  box-shadow: 0 0 25px -5px #43b7ff;
  border-radius: 0.8rem;
  border-bottom: 5px solid #43b7ff;
  background-color: #1b1b1b;
}
.dark-mode .portfolio .wrapper .items .item h3 {
  color: #43b7ff;
}
.dark-mode .portfolio .wrapper .items .item p {
  color: #fff;
}
.dark-mode .portfolio .wrapper .items .item button {
  border: 1px solid #43b7ff;
  background: none;
  color: #43b7ff;
  animation: glow 2s ease-out infinite alternate;
}
.dark-mode .aboutme h2 {
  color: #fff;
}
.dark-mode .aboutme h2 span {
  color: #43b7ff;
}
.dark-mode .aboutme .wrapper p {
  color: #fff;
}
.dark-mode .aboutme .wrapper p a {
  color: #43b7ff;
}
.dark-mode .aboutme .wrapper h3 {
  color: #43b7ff;
}
.dark-mode .blog h2 {
  color: #fff;
}
.dark-mode .blog h2 span {
  color: #43b7ff;
}
.dark-mode .blog .wrapper {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-mode .blog .wrapper .graphic-group {
  width: 16rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.dark-mode .blog .wrapper .graphic-group img {
  height: 100%;
  margin: 0 1rem;
}
.dark-mode .blog .wrapper .graphic-group .dash {
  width: 50px;
  border-bottom: 1px dashed #43b7ff;
}
.dark-mode .blog .wrapper .items .item {
  border: 1px solid #43b7ff;
  box-shadow: 0px -13px 35px -16px #43b7ff;
  border-top: 5px solid #43b7ff;
  background-color: #1b1b1b;
}
.dark-mode .blog .wrapper .items .item h3 {
  color: #43b7ff;
}
.dark-mode .blog .wrapper .items .item p {
  color: #fff;
}
.dark-mode .blog .wrapper .items .item button {
  border: 1px solid #43b7ff;
  background: none;
  color: #43b7ff;
  animation: glow 2s ease-out infinite alternate;
}
.dark-mode .footer {
  background: linear-gradient(#222, #000);
  color: #fff;
}
.dark-mode .footer .logo {
  height: 12rem;
  width: 100%;
}
.dark-mode .footer .logo__clickable {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dark-mode .footer .logo__clickable img {
  height: 40%;
}
.dark-mode .footer .wrapper hr {
  border: 1px solid #43b7ff;
}
.dark-mode .footer .brand {
  background-color: #1b1b1b;
}
.dark-mode .footer .lamp .cable {
  background-color: #000;
}
.dark-mode .footer .lamp .triangle {
  border-bottom: 26px solid #000;
  z-index: 1;
}
.dark-mode .footer .lamp .bulb {
  background-color: #fff;
  z-index: 0;
  animation: flicker 5s infinite forwards step-start;
  background-color: #43b7ff;
  box-shadow: 0px 10px 14px 3px #43b7ff;
}
.dark-mode .footer .lamp .color-scheme-btn2__pill {
  background-color: #43b7ff;
}
.dark-mode .footer .lamp .color-scheme-btn2__circle {
  left: 2rem;
  background-color: #fff;
}
.dark-mode .d-none {
  display: none;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px 0px #43b7ff, inset 0px 0px 10px 0px #43b7ff;
  }
  3% {
    box-shadow: 0px 0px 0px 0px #43b7ff, inset 0px 0px 0px 0px #43b7ff;
  }
  6% {
    box-shadow: 0px 0px 10px 0px #43b7ff, inset 0px 0px 10px 0px #43b7ff;
  }
  8% {
    box-shadow: 0px 0px 0px 0px #43b7ff, inset 0px 0px 0px 0px #43b7ff;
  }
  10% {
    box-shadow: 0px 0px 10px 0px #43b7ff, inset 0px 0px 10px 0px #43b7ff;
  }
}
@keyframes flicker {
  0% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  1% {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #43b7ff;
  }
  2% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  8% {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #43b7ff;
  }
  9% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  25% {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #43b7ff;
  }
  26% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  47% {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #43b7ff;
  }
  48% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  100% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
}
@keyframes neonGlow {
  0% {
    opacity: 0;
  }
  1% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
  2% {
    text-shadow: none;
    filter: blur(1px);
  }
  3% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
  4% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
  5% {
    text-shadow: none;
    filter: blur(1px);
  }
  6% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
  30% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
  31% {
    opacity: 1;
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
  32% {
    text-shadow: none;
    filter: blur(1px);
  }
  33% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
  100% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
}/*# sourceMappingURL=aboutus-dark.css.map */