.dark-mode {
  background-color: #000;
}
.dark-mode .header {
  background: linear-gradient(145deg, #00042f, #2e2e2e 96%);
  color: #fff;
}
.dark-mode .header .stars {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dark-mode .header .stars .star {
  position: absolute;
  height: 2px;
  width: 2px;
  top: 20%;
  left: 5%;
  border-radius: 50%;
  background-color: #fff;
}
.dark-mode .header .stars .late {
  animation: starFlicker 4s infinite ease-in-out both 0.8s;
}
.dark-mode .header .stars .fast {
  animation: starFlicker 4s infinite ease-in-out both;
}
.dark-mode .header .stars .middle {
  animation: starFlicker 6s infinite ease-in-out both 0.3s;
}
.dark-mode .header .stars .shooting-star,
.dark-mode .header .stars .shooting-star2 {
  position: absolute;
  right: 50%;
  width: 1px;
  height: 70px;
  background: #fff;
  transform: rotate(-25deg);
}
.dark-mode .header .stars .shooting-star {
  top: -13.59%;
  animation: shootingStar 9s infinite ease-in 1s;
}
.dark-mode .header .stars .shooting-star2 {
  top: -23.59%;
  animation: shootingStar2 10s infinite ease-in 1.5s;
}
.dark-mode .header .stars :nth-child(2) {
  top: 30%;
  left: 30%;
}
.dark-mode .header .stars :nth-child(3) {
  top: 55%;
  left: 55%;
}
.dark-mode .header .stars :nth-child(4) {
  top: 48%;
  left: 48%;
}
.dark-mode .header .stars :nth-child(5) {
  top: 12%;
  left: 12%;
}
.dark-mode .header .stars :nth-child(6) {
  top: 61%;
  left: 61%;
}
.dark-mode .header .stars :nth-child(7) {
  top: 77%;
  left: 77%;
}
.dark-mode .header .stars :nth-child(8) {
  top: 21%;
  left: 21%;
}
.dark-mode .header .stars :nth-child(9) {
  top: 34%;
  left: 100px;
}
.dark-mode .header .stars :nth-child(10) {
  top: 39%;
  left: 54%;
}
.dark-mode .header .stars :nth-child(11) {
  top: 32%;
  left: 78%;
}
.dark-mode .header .stars :nth-child(12) {
  top: 10%;
  left: 90%;
}
.dark-mode .header .stars :nth-child(13) {
  top: 12%;
  left: 67%;
}
.dark-mode .header .stars :nth-child(14) {
  top: 24%;
  left: 83%;
}
.dark-mode .header .stars :nth-child(15) {
  top: 27%;
  left: 85%;
}
.dark-mode .header .stars :nth-child(16) {
  top: 66%;
  left: 80%;
}
.dark-mode .header .stars :nth-child(17) {
  top: 70%;
  left: 88%;
}
.dark-mode .header .stars :nth-child(18) {
  top: 72%;
  left: 54%;
}
.dark-mode .header .stars :nth-child(19) {
  top: 80%;
  left: 10%;
}
.dark-mode .header .stars :nth-child(20) {
  top: 71%;
  left: 79%;
}
.dark-mode .header .stars :nth-child(21) {
  top: 24%;
  left: 43%;
}
.dark-mode .header .stars :nth-child(22) {
  top: 36%;
  left: 59%;
}
.dark-mode .header .stars :nth-child(23) {
  top: 53%;
  left: 19%;
}
.dark-mode .header .stars :nth-child(24) {
  top: 71%;
  left: 30%;
}
.dark-mode .header .stars :nth-child(25) {
  top: 45%;
  left: 25%;
}
.dark-mode .header .stars :nth-child(26) {
  top: 18%;
  left: 75%;
}
.dark-mode .header .stars :nth-child(27) {
  top: 50%;
  left: 60%;
}
.dark-mode .header .stars :nth-child(28) {
  top: 55%;
  left: 67%;
}
.dark-mode .header .stars :nth-child(29) {
  top: 14%;
  left: 48%;
}
.dark-mode .header .stars :nth-child(30) {
  top: 20%;
  left: 57%;
}
.dark-mode .header .stars .astronaut {
  position: absolute;
  display: flex;
  height: 10rem;
  width: 10rem;
  animation: orbit 40s infinite ease-in both;
}
.dark-mode .header .logo {
  height: 12rem;
  width: 100%;
}
.dark-mode .header .logo__clickable {
  position: relative;
}
.dark-mode .header .logo__clickable .text {
  display: block;
  opacity: 0;
  position: absolute;
  font-family: "Yellowtail";
  font-size: 2.4rem;
  bottom: 2rem;
  left: 12rem;
  text-wrap: nowrap;
  text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  animation: neonGlow 3s 0.3s ease-out forwards;
}
.dark-mode .header__text .header-button {
  border: 1px solid #43b7ff;
  background: none;
  color: #43b7ff;
  animation: glow 2s ease-out infinite alternate;
}
.dark-mode .header .color-scheme-btn {
  position: absolute;
  top: 8rem;
  right: 0;
  width: 7rem;
  height: 7rem;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #43b7ff;
}
.dark-mode .header .color-scheme-btn__pill {
  background-color: #43b7ff;
}
.dark-mode .header .color-scheme-btn .color-scheme-btn__circle {
  left: 2rem;
}
.dark-mode .header .burger-btn--active .burger-btn__bar1,
.dark-mode .header .burger-btn--active .burger-btn__bar2,
.dark-mode .header .burger-btn--active .burger-btn__bar3 {
  background-color: #fff;
}
.dark-mode .header .nav-mobile {
  background: linear-gradient(#222, #000);
}
.dark-mode .header .nav-mobile ul li a {
  color: #fff;
}
.dark-mode main {
  background-color: #000;
}
.dark-mode .about h2 {
  color: #fff;
}
.dark-mode .about .wrapper .graphic-group .dash {
  border-bottom: 1px dashed #43b7ff;
}
.dark-mode .about .wrapper p {
  color: #fff;
}
.dark-mode .about .wrapper p a {
  color: #43b7ff;
}
.dark-mode .about .wrapper .items .item h3 {
  color: #43b7ff;
}
.dark-mode .pricing .wrapper h2 {
  color: #fff;
}
.dark-mode .pricing .wrapper h2 span {
  color: #43b7ff;
}
.dark-mode .pricing .wrapper p {
  color: #fff;
}
.dark-mode .pricing .wrapper .items .item__text h3 {
  color: #43b7ff;
}
.dark-mode .portfolio h2 {
  color: #fff;
}
.dark-mode .portfolio h2 span {
  color: #43b7ff;
}
.dark-mode .portfolio .wrapper .graphic-group .dash {
  border-bottom: 1px dashed #43b7ff;
}
.dark-mode .portfolio .wrapper .items .item {
  border: 1px solid #43b7ff;
  box-shadow: 0 0 25px -5px #43b7ff;
  border-radius: 0.8rem;
  border-bottom: 5px solid #43b7ff;
  background-color: #1b1b1b;
}
.dark-mode .portfolio .wrapper .items .item h3 {
  color: #43b7ff;
}
.dark-mode .portfolio .wrapper .items .item p {
  color: #fff;
}
.dark-mode .portfolio .wrapper .items .item button {
  border: 1px solid #43b7ff;
  background: none;
  color: #43b7ff;
  animation: glow 2s ease-out infinite alternate;
}
.dark-mode .aboutme h2 {
  color: #fff;
}
.dark-mode .aboutme h2 span {
  color: #43b7ff;
}
.dark-mode .aboutme .wrapper p {
  color: #fff;
}
.dark-mode .aboutme .wrapper p a {
  color: #43b7ff;
}
.dark-mode .aboutme .wrapper h3 {
  color: #43b7ff;
}
.dark-mode .blog h2 {
  color: #fff;
}
.dark-mode .blog h2 span {
  color: #43b7ff;
}
.dark-mode .blog .wrapper {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-mode .blog .wrapper .graphic-group {
  width: 16rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.dark-mode .blog .wrapper .graphic-group img {
  height: 100%;
  margin: 0 1rem;
}
.dark-mode .blog .wrapper .graphic-group .dash {
  width: 50px;
  border-bottom: 1px dashed #43b7ff;
}
.dark-mode .blog .wrapper .items .item {
  border: 1px solid #43b7ff;
  box-shadow: 0px -13px 35px -16px #43b7ff;
  border-top: 5px solid #43b7ff;
  background-color: #1b1b1b;
}
.dark-mode .blog .wrapper .items .item h3 {
  color: #43b7ff;
}
.dark-mode .blog .wrapper .items .item p {
  color: #fff;
}
.dark-mode .blog .wrapper .items .item .button {
  border: 1px solid #43b7ff;
  background: none;
  color: #43b7ff;
  animation: glow 2s ease-out infinite alternate;
}
.dark-mode .footer {
  background: linear-gradient(#222, #000);
  color: #fff;
}
.dark-mode .footer .logo {
  height: 12rem;
  width: 100%;
}
.dark-mode .footer .logo__clickable {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dark-mode .footer .logo__clickable img {
  height: 40%;
}
.dark-mode .footer .wrapper hr {
  border: 1px solid #43b7ff;
}
.dark-mode .footer .brand {
  background-color: #1b1b1b;
}
.dark-mode .footer .lamp .cable {
  background-color: #000;
}
.dark-mode .footer .lamp .triangle {
  border-bottom: 26px solid #000;
  z-index: 1;
}
.dark-mode .footer .lamp .bulb {
  background-color: #fff;
  z-index: 0;
  animation: flicker 5s infinite forwards step-start;
  background-color: #43b7ff;
  box-shadow: 0px 10px 14px 3px #43b7ff;
}
.dark-mode .footer .lamp .color-scheme-btn2__pill {
  background-color: #43b7ff;
}
.dark-mode .footer .lamp .color-scheme-btn2__circle {
  left: 2rem;
  background-color: #fff;
}
.dark-mode .d-none {
  display: none;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 10px 0px #43b7ff, inset 0px 0px 10px 0px #43b7ff;
  }
  3% {
    box-shadow: 0px 0px 0px 0px #43b7ff, inset 0px 0px 0px 0px #43b7ff;
  }
  6% {
    box-shadow: 0px 0px 10px 0px #43b7ff, inset 0px 0px 10px 0px #43b7ff;
  }
  8% {
    box-shadow: 0px 0px 0px 0px #43b7ff, inset 0px 0px 0px 0px #43b7ff;
  }
  10% {
    box-shadow: 0px 0px 10px 0px #43b7ff, inset 0px 0px 10px 0px #43b7ff;
  }
}
@keyframes flicker {
  0% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  1% {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #43b7ff;
  }
  2% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  8% {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #43b7ff;
  }
  9% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  25% {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #43b7ff;
  }
  26% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  47% {
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px #43b7ff;
  }
  48% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
  100% {
    background-color: #43b7ff;
    box-shadow: 0px 10px 14px 3px #43b7ff;
  }
}
@keyframes neonGlow {
  0% {
    opacity: 0;
  }
  1% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
    opacity: 1;
  }
  2% {
    text-shadow: none;
    filter: blur(1px);
    opacity: 0;
  }
  3% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
    opacity: 1;
  }
  4% {
    opacity: 0;
    text-shadow: none;
  }
  5% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
    filter: blur(1px);
    opacity: 1;
  }
  6% {
    opacity: 0;
    text-shadow: none;
  }
  7% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
  31% {
    opacity: 1;
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
  }
  32% {
    opacity: 0;
    text-shadow: none;
    filter: blur(1px);
  }
  33% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 10px #43b7ff, 0 0 10px #43b7ff, 0 0 10px #43b7ff;
    opacity: 1;
  }
}
@keyframes starFlicker {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes shootingStar {
  0% {
    top: -13.59%;
    right: 60%;
  }
  2% {
    opacity: 0;
    top: 100%;
    right: 0;
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shootingStar2 {
  0% {
    top: -23.59%;
    right: 50%;
  }
  2% {
    opacity: 0;
    top: 100%;
    right: -17%;
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes orbit {
  0% {
    top: -10%;
    left: -20%;
    transform: rotate(0);
  }
  10% {
    top: 110%;
    left: 50%;
    transform: rotate(0);
  }
  50% {
    top: -40%;
    left: 120%;
    transform: rotate(360deg);
  }
  70% {
    top: 110%;
    left: 50%;
  }
  100% {
    top: 110%;
    left: -20%;
  }
}/*# sourceMappingURL=dark.css.map */