$main-color: #001099;
$gradient-color: #3ad9ff;
$secondary-color: #fff;
$shadow-color: #081124;
$cta-color: #f5a101;
$cta-color-transparent: rgba(245, 161, 1, 0.1);
$main-color-transparent: rgba(14, 29, 60, 0.09);
$text-color-dark: #646464;
$black: #121212;
$lighter-black: #1d2124;
$dark-grey: #1b1b1b;
$h2-blue-color: #43b7ff;
$easy-black: #222222;
$easier-black: #212121;
$grey: #959595;